<!-- Menubar of UserSide -->
<mat-toolbar color="primary">
    <!-- heading -->
      <h1>Drama Fandom</h1>
      <!-- home -->
      <button class="homebutton" (click)="home()" mat-button style="color: white">Home</button>
      <!-- Existing dramas -->
      <button mat-button class="dramasbutton" (click)="existingdramas()"  style="color: white">Dramas</button>
      <!-- Latest Buzz -->
      <button mat-button class="buzzbutton" (click)="latestBuzz()"  style="color: white">Latest Buzz</button>
      <!-- topchart button -->
      <button class="topchart" mat-button (click)="changeTopchart()"  style="color: white">Top Chart</button>
      <!-- post new -->
      <button class="postbutton" mat-button [matMenuTriggerFor]="dramas"><i class="material-icons" style="color: white">add</i></button>
      <mat-menu #dramas="matMenu">
          <button (click)="postNewDrama()" mat-menu-item>Dramas</button>
          <button (click)="postNewBuzz()" mat-menu-item>LatestBuzz</button>
        </mat-menu>
        <button mat-icon-button class="notification" (click)="notifications()">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-button (click)="logout()"><mat-icon>exit_to_app</mat-icon>
        </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
  