h1{
    color:white;
}
.homebutton{
    margin-left: 570px;
}
.dramasbutton{
    margin-left: 20px;
}
.buzzbutton{
    margin-left: 20px;
}
.topchart{
    margin-left: 20px
}
.postbutton{
    margin-left: 20px;
    border-radius: 50%;
}
.notification{
    margin-left: 20px;
}
/* mat-toolbar{
    background-color: #613fe8;
} */