mat-card{
    width: 250px;
    height: 280px;
    margin-top: 30px;
}
.divclass{
    float:left;
    margin-left: 50px;
}
.footer{
    display:flex;
    flex-direction: row;
}
.seasons{
    margin-left: 120px;
}
.view{
    margin-left: 15px;
}
.like{
    margin-left: 90px;
}
img{
    width: 98%;
    height: 120px;
}
h2{
    margin-left: 15px;
}
p{
    color:grey;
    margin-left: 15px;
}
mat-form-field{
    margin: 10px;
}
mat-slider{
    width: 240px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.example-form{
    margin-left: 50px;
}
mat-icon{
    margin-top: 25px;
    margin-left: -30px;
}