mat-card{
    width: 250px;
    height: 300px;
    margin-top: 30px;
    box-shadow: 2px 3px #d4d6d5;
    border: solid  #d4d6d5;
}
.divclass{
    float:left;
    margin-left: 50px;
}
.footer{
    display:flex;
    flex-direction: row;
}
.seasons{
    margin-left: 120px;
}
.view{
    margin-left: 15px;
}
.like{
    margin-left: 90px;
}
img{
    width: 98%;
    height: 120px;
}
h2{
    margin-left: 15px;
}
p{
    color:grey;
    margin-left: 15px;
}
mat-form-field{
    margin: 10px;
}
mat-slider{
    width: 240px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.example-form{
    margin-left: -30px;
}
mat-icon{
    margin-top: 25px;
    margin-left: -30px;
}
.likes{
    margin-top: 40px;
    margin-left: -30px;
}
.clear{
    margin-top: 25px;
    margin-left: -30px;
}
.search{
    margin-top: 25px;
    margin-left: 50px;
}
