<div class="row">
    <div class="col">
        <img src="http://localhost/DramaFandom/{{details.Image}}" alt="image">
        <hr>
        <p><b>Featuring: {{details.Featuring}}</b></p>
        <hr>
        <p>{{details.Plot}}</p>
    </div>
    <div class="col">
        <h1>Reviews</h1>
        <hr>
        <mat-card>
            <mat-card-content>
                <form  [formGroup]="Form"  (submit)="postReview()">
                    <div class="row">
                        <div class="col-6">
                            <textarea rows=3 cols=40 formControlName="message"></textarea>
                        <div class="error" *ngIf='Form.controls.message.hasError("required")'>Should be filled</div>
                        <div class="error" *ngIf='Form.controls.message.hasError("minlength")'>Atleast 15 characters long</div>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" type="submit"  [disabled]="!Form.valid">Post my review</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <div class="row" id="reviewbox">
            <div class="container">
                <div class="content">
                    <app-reviews #myComponent *ngFor="let x of reviews|review: currentid" [review]="x"></app-reviews>
                </div>
              </div>
        </div>
    </div>
</div>
