<div class="footer">
    <div class="row">
        <div class="col-3">
            <img src="http://localhost/DramaFandom/gif.gif" alt="">
        </div>
        <div class="col-3">
            <div class="row"> <h1>For more Updates</h1> </div>
            <div class="row">
                 <div class="col"><img class="logo" src="http://localhost/DramaFandom/instagram.png" alt="instagram"></div>
                 <div class="col"><img class="logo1" src="http://localhost/DramaFandom/facebook.png" alt="instagram"></div>
            </div>
        </div>
        <div class="col-6">
            <h2>-Yours lovingly DramaFandom Team.<mat-icon>favorite</mat-icon>
            </h2>
        </div>
    </div>
</div>
