body{
    background-color: black;
    display: flex;
    flex-direction: row;
}
.column1{
    flex: 50%;
}
.column2{
    flex: 50%;
}
mat-toolbar{
    background-color: #eb2c63;
    color: white;
}
h1{
    padding-top: 20px;
}
mat-button-toggle-group{
    margin-left: 140px;
    margin-top: 60px;
    border:none;
}
.mat-button-toggle{
    background-color: #2a2b38;
    color:white;
}
.mat-button-toggle-checked{
    background-color: #eb2c63;
    color: black;
}
mat-card{
    width: 300px;
    height: auto;
    padding: 20px;
    text-align:center;
    margin-left:70px;
    margin-top: 10px;
    background-color: #2a2b38;
    box-shadow: 3px 7px 10px #666466;
}
input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
input:focus{
    outline-style: none;
    border:solid #c406a8
}
button{
    margin-top: 15px;
    background-color:#eb2c63 ;
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 10px;
}
a p{
    margin-top: 10px;
    float:left;
    color:#eb2c63;
}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    padding: 20px;
}
.fade-in-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn 8s;
    font-size: xx-large;
    margin-top: 20px;
    padding: 20px;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; color:#666466}
    100% { opacity: 1; color:white}
  }
  p{
    color:white;
  }