body{
    display: flex;
    flex-direction: row;
}
.column1{
    flex: 40%;
}
.column2{
    flex: 60%;
    background-color: #c4e7f2;
    padding-left: 20px;
}
mat-toolbar{
    color: white;
}
h1{
    padding-top: 20px;
}
mat-button-toggle-group{
    margin-left: 140px;
    margin-top: 60px;
    border:none;
}
.mat-button-toggle{
    background-color:#ebedeb;
    color:black;
}
.mat-button-toggle-checked{
    background-color: #3f51b5;
    color: white;
}
mat-card{
    width: 300px;
    height: auto;
    padding: 20px;
    text-align:center;
    margin-left:70px;
    margin-top: 10px;
    /* background-color: #f0f2f0; */
    box-shadow: 3px 7px 10px #666466;
}
input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
input:focus{
    outline-style: none;
    border:solid #3f51b5
}
.button{
    margin-top: 15px;
    /* background-color:#3f51b5 ; */
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 10px;
}
a p{
    margin-top: 10px;
    float:left;
    color:#3f51b5;
}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    padding: 20px;
}
.fade-in-text {
    font-family: 'Brush Script';
    animation: fadeIn 8s;
    font-size: xx-large;
    margin-top: 20px;
    padding: 20px;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; color:#666466}
    100% { opacity: 1; color:black}
  }
  p{
    color:black;
  }
.menu{
    margin-left: 80%;
    width: 100px;
    height: 30px;
}